#!/bin/sh

echo "Installing packages... May need sudo access"
{{ if eq .chezmoi.os "linux" -}}
sudo pacman -S --needed git thefuck atuin zoxide fzf bat tealdeer lsd mise
{{ else if eq .chezmoi.os "darwin" -}}
brew install git thefuck atuin zoxide fzf bat tealdeer lsd mise
{{ end -}}

echo "Installing mise-managed tools..."
mise install --yes

echo "Updating tldr cache..."
tldr --update

echo "Symbolically linking tmux runtime config..."
ln -s -f ~/.tmux_runtime/.tmux.conf ~/.tmux.conf

# if Antidote is not installed, clone it
if [ ! -f "${ZDOTDIR:-$HOME}/.antidote/antidote.zsh" ]; then
    echo "Installing antidote..."
    git clone --depth=1 https://github.com/mattmc3/antidote.git "${ZDOTDIR:-$HOME}/.antidote"
fi
