#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo pacman -S --needed thefuck atuin zoxide fzf
{{ else if eq .chezmoi.os "darwin" -}}
brew install thefuck atuin zoxide fzf
{{ end -}}

ln -s -f ~/.tmux_runtime/.tmux.conf ~/.tmux.conf

# if ~/antigen.zsh does not exists or is empty, download it
if [ ! -f ~/antigen.zsh ] || [ ! -s ~/antigen.zsh ]; then
    curl -L git.io/antigen > ~/antigen.zsh
fi
