# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if and (hasKey . "conda_path") (ne .conda_path "") -}}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('{{ .conda_path }}bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "{{ .conda_path }}etc/profile.d/conda.sh" ]; then
        . "{{ .conda_path }}etc/profile.d/conda.sh"
    else
        export PATH="{{ .conda_path }}bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{ end -}}

# Keep 10,000,000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=10000000
SAVEHIST=10000000
HISTFILE=~/.zsh_history

# Platform specific customizations
source ~/.platformrc

# Comment out the auto suggest strategy used by zsh-autosuggestions so atuin can inject itself and override it
#ZSH_AUTOSUGGEST_STRATEGY=(history completion)

source ~/antigen.zsh
antigen init ~/.antigenrc

# Aliases
alias rcat="$(which cat)"
alias cat="$(which bat)"
alias ls="lsd"
alias cd="z"

source /usr/share/nvm/init-nvm.sh
eval "$(atuin init zsh)"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
