{{- $gitEmail := index . "git_email" -}}
{{- $gitName := index . "git_name" -}}
{{- if or $gitEmail $gitName }}[user]
{{ with $gitEmail }}	email = {{ . }}
{{ end -}}
{{ with $gitName }}	name = {{ . }}
{{ end -}}
{{ end -}}
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	# Undo last commit but keep changes
	undo = reset HEAD~1 --soft
	# Undoes an undo by using the reflog
	redo = !git reset 'HEAD@{1}' --soft
	# Edit the last commit message
	edit = commit --amend --only
	# List aliases
	aliases = config --get-regexp alias
[branch]
	sort = -committerdate
