#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo apt install thefuck autojump atuin
{{ else if eq .chezmoi.os "darwin" -}}
brew install thefuck autojump atuin
{{ end -}}

ln -s -f ~/.tmux_runtime/.tmux.conf ~/.tmux.conf

curl -L git.io/antigen > ~/antigen.zsh
